<div class="content">
  <div class="container">
    <div class="title">
      <h2>Already converted values : </h2>
    </div>
    <div class="result">
      <div class="card">
        <div class="card-body" *ngFor="let convert of convertedResults">
          <div class="card-text">{{convert.inputNumber}} and the result is {{convert.result}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-foo-bar-quix-form (submitNumberOutput$)="convertNumber($event)"></app-foo-bar-quix-form>
</div>



